.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.counter {
  align-self: flex-end;
  font-size: 2rem;
  margin-bottom: var(--space-between);
  margin-right: 5rem;
}
.btn {
  font-size: 1.2rem;
  padding: 0.2em 0.5em;
}
.btn + .btn {
  margin-left: var(--space-between);
}
